#######################################
# Path to map metadata CSV file
#######################################
METADATA_CSV = '/your/absolute/path/luna_omo_metadata_56628_20220724.csv'

#######################################
# Path to the GeoJSON folder
#######################################
GEOJSON_FOLDER = '/your/absolute/path/geojson_202211'